.toolbar-background-ios {
    background: #fff;
    
}


ion-app.app-root page-core-courses-dashboard .toolbar-title .core-header-logo {
    display: block!important;
   
}

ion-app.app-root .header .toolbar-ios {
    height: 200px;
    max-height: 200px;
    border: none;
    padding-bottom: 150px;
}

div#core-tabs-bar {
   
}

.footer-ios .toolbar-background-ios, .header-ios .toolbar-background-ios {
   
    border: none;
}

span.button-inner {
    color: #000;
}

/* Main bg colour */
.content-ios {
    background: #fffbf0;
  
}

ion-app.app-root core-block .item-divider {
    min-height: 60px;
    background: transparent;
}

/* Divders H2 */



/* Divders H2 */

ion-item-divider.item.item-divider.item-ios.item-divider-ios h2 {
    color: red;
    font-weight: bold;
}



/* Dashboard Tabs */

ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true] {
    color: #000!important;
    border-bottom-color: #000!important;
}



/* Course tiles */

ion-card.card.card-ios {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.core-course-thumb {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Removes category from course tile */
ion-item.core-course-link.item.item-block.item-ios span.core-course-category.ng-star-inserted {
    display: none;
}

/* coursename course tile */
.core-course-title.core-course-with-buttons h2 {
    color: #d59e0f;
    font-weight: bold;
    font-size: 110%;
}

