<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411810428154-phm3ofu74c8d91k1r25fq3pao65bd2r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411810428154-phm3ofu74c8d91k1r25fq3pao65bd2r6</string>
	<key>API_KEY</key>
	<string>AIzaSyA1-t1cqNc6vI9kl8ZpmlIwdLeVu0a9a8k</string>
	<key>GCM_SENDER_ID</key>
	<string>411810428154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adaptivle.broughtonsource</string>
	<key>PROJECT_ID</key>
	<string>source-5e185</string>
	<key>STORAGE_BUCKET</key>
	<string>source-5e185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411810428154:ios:6d1bafda2776983146c543</string>
	<key>DATABASE_URL</key>
	<string>https://source-5e185.firebaseio.com</string>
</dict>
</plist>